<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://moltas-su.github.io/BarJot/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>2yQKvFPWJ6xJ1NBjaNmFO+QpkWqXaa/VMI8BeV3xdP8=</string>
</dict>
</plist>
